<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>세~탁~</title>
  <link rel="stylesheet" type="text/css" href="/css/main/main.css">
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>무인 세탁소 예약 서비스</h1>
    </header>
    <section>
      <div class="content">
        <div class="login">
          <span>로그인 하기</span>
          <a href="member/login">
            <img src="/image/img/login.png">
          </a>
        </div>
        <div class="register">
          <span>회원 가입 하기</span>
          <a href="member/register">
            <img src="/image/img/register.png">
          </a>
        </div>
      </div>
    </section>
    <footer>

    </footer>
  </div>
</body>
</html>