body {
  margin:0;
  padding: 0;
  background-image: url('../../image/Main/background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

body .wrapper header h1 {
  text-align: center;
}
body .wrapper .contents {
  display: flex;
  justify-content: space-between;
}

body .wrapper header .userFunction {
  float: right;
}

body .wrapper section .machine-info {
  border-top: solid 1px #000;
  border-left: solid 1px #000;
  border-right: solid 1px #000;
}

h2 {
  text-align: center;
}

#search-label {
  float: left;
}

#search-button {
  float: left;
}

#mypage {
  width: 30px;
  height: 30px;
}

#logout {
  width: 30px;
  height: 30px;
}

table{
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: solid 1px #000;
}

#none {
  text-align: center;
  height: 800px;
}