<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>세탁/건조기 목록</title>
  <link rel="stylesheet" type="text/css" href="/css/washing/list.css">
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>기기 목록</h1>
      <div class="contents">
        <div class="userFunction">
          <a href="/member/mypage" class="userFunction-mypage">
            <img src="/image/img/user.png" id="mypage" alt="내정보">
          </a>
          <a href="member/logout" class="userFunction-logout">
            <img src="/image/img/logout.png" id="logout" alt="로그 아웃">
          </a>
        </div>
      </div>
    </header>
    <section>
      <div class="machine-list">
        <div class="machine" th:each="x : ${list}">
          <div class="machine-type">
            <p id="type" th:text="${x.machineType}"></p>
          </div>
          <div class="machine-model">
            <p id="model">
              <a th:href="'detail?machineModel='+${x.machineModel}" th:text="${x.machineModel}"></a>
            </p>
          </div>
          <div class="machine-state">
            <p id="state" th:text="${x.state}"></p>
          </div>
          <div class="machine-reservation">
            <form method="get" action="reservation">
              <input type="hidden" name="machineModel" th:value="${x.machineModel}">
              <input type="submit" id="reservation-button" value="예약 하기">
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer>

    </footer>
  </div>
</body>
</html>