<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>세탁/건조기 목록</title>
  <style>
    .machine-list {
      width: 100%;
      height: 100%;
      background-color: blue;
    }

    .machine-list .machine {
      margin: 10px;
      float: left;
      width: 25%;
      height: 300px;
      background-color: red;
    }

    .machine-list .machine #model {
      text-align: center;
      border: solid 1px #000;
      box-sizing: border-box;
      margin: 0;
    }
  </style>
</head>
<body>
  <div class="machine-list">
    <div class="machine" th:each="x : ${list}">
      <div>
        <p id="type" th:text="${x.machineType}"></p>
      </div>
      <div>
        <p id="model" th:text="${x.machineModel}"></p>
      </div>
      <div>
        <p id="state" th:text="${x.state}"></p>
      </div>
      <div>
        <label>남은시간</label>
        <h2 id="time">30:00</h2>
      </div>
      <div>
        <input type="button" value="예약 하기">
      </div>
    </div>
  </div>
</body>
</html>